{% include 'main.html' %}

{% block content %}
    <nav class="navbar bg-body-tertiary">
        <form class="d-flex" role="search">
            <div><input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"></div>
            <div><button class="btn btn-success" type="submit" style="width:75px;">Search</button>
        </form>
    </nav>


    <button >
        <a href="{% url 'home' %}" style="color: white; text-decoration: none; "> Add Task </a>
    </button>
</div>

    <table class="table table-striped">
        <tr>
            <big>
                <td>Name</td>
                <td>Description</td>
                <td>Status </td>
            </big>
            
        </tr>
        {% for i in data %}
        <tr>
            <td><a href="{% url 'view' i.id %}">{{ i.tname }}</a></td>
            <td><p>{{ i.tdesc }}</p>
            <td><button class="btn btn-danger">Pending</button>  
        </tr>
        {% endfor %}
    </table>
    
    

    
  

{% endblock %}
