{% include 'main.html' %}

{% block content %}
<div style="display: flex; justify-content: space-between;" >
        <div>
            <button >
                <a href="{% url 'home' %}" style="color: white; text-decoration: none; "> Add Task </a>
            </button>
        </div>
            <form>
                <div style="display: flex; gap: 10px; margin-right:200px;">
                <input  type="search" placeholder="Search" aria-label="Search" name="q" style="width:250px">
                <button  type="submit" style="width:75px;">Search</button>
                </div>
            </form>  
</div> <br>




    <table class="table table-striped">
        <tr>
            <big>
                <td>Name</td>
                <td>Description</td>
                
            </big>
            
        </tr>
        {% for i in data %}
        <tr>
            <td><a href="{% url 'view' i.id %}">{{ i.tname }}</a></td>
            <td><p>{{ i.tdesc }}</p>
            
        </tr>
        {% endfor %}
    </table>
    
    

    
  

{% endblock %}
