{% include 'main.html' %}

{% block content %}

<div class="container mt-5">
    <div class="d-flex align-items-center mb-4">
        <!-- Back Button with Icon -->
        <a href="javascript:history.back()" class="btn btn-link me-3 back">
            <i class="bi bi-arrow-left"></i>
        </a>

        <h2>Student Details</h2>
    </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ data.tname }}</h5>
                <p><strong>Name:</strong> {{ data.tname }}</p>
                <p><strong>Description:</strong> {{ data.tdesc }}</p>
            </div>
        </div>

    <div class="mt-4">
        <a href="{% url 'update_task' data.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'delete_task' data.id %}" class="btn btn-primary">Delete</a>
    </div>
</div>

{% endblock content %}
